<section ng-controller="CasesController as casesCtrl" id="cases" class="ie-page" style="left: 1366px;">
    <div ng-class="{display : casesCtrl.createMode, noDisplay : !casesCtrl.createMode}"
         class="ie-page-content" id="ie-case-create-modal">
        <div class="ie-case-form-box col-md-4">
            <div class="ie-box-header">
                Log Complaint
                <div class="ie-box-header-right">
                    <img ng-show="casesCtrl.isCreatingCase" height="45" width="45" src="../public/assets/images/requesting_icon.gif"/>
                    <span class="ie-close-create-case" ng-click="casesCtrl.triggerCreateMode()">x</span>
                </div>
            </div>
            <div>
                <form name="case" ng-submit="casesCtrl.createCase(case)">


                    <div class="ie-create-case-input">
                        <input type="text" name="subject" placeholder="Subject"
                               ng-model="casesCtrl.caseForm.name" ng-minlength="5"
                               maxlength="40" class="form-control" required/>
                        <span class="ie-input-error"
                              ng-show="case.subject.$error.minlength && !case.subject.$pristine">
                            The subject is too short
                        </span>
                        <span class="ie-input-error"
                              ng-show="case.subject.$error.required && !case.subject.$pristine">
                            The subject is required
                        </span>
                    </div>


                    <div class="ie-create-case-input">
                        <select name="majorCategory" ng-model="casesCtrl.caseForm.cstm_complaint_category_c"
                                class="form-control" required>
                            <!--<option>&#45;&#45; select major category &#45;&#45;</option>-->
                            <option value="ppm">Pre-Paid Meter</option>
                            <option value="commecial">Billing</option>
                            <option value="payment">Payment</option>
                            <option value="requestenquiry">Request Enquiry</option>
                            <option value="technical">Technical</option>
                            <option value="ami">Smart Metering</option>
                        </select>
                        <span class="ie-input-error"
                              ng-show="case.majorCategory.$error.required && !case.majorCategory.$pristine">
                            The major category is required
                        </span>
                    </div>


                    <div class="ie-create-case-input">
                        <select name="subCategory" ng-model="casesCtrl.caseForm.cstm_complaint_sub_category_c"
                                class="form-control" required>
                            <option>-- select sub category --</option>
                        </select>
                        <span class="ie-input-error"
                              ng-show="case.subCategory.$error.required && !case.subCategory.$pristine">
                            The sub category is required
                        </span>
                    </div>


                    <div class="ie-create-case-input">
                        <select name="priority" ng-model="casesCtrl.caseForm.priority" class="form-control" required>
                            <option>-- select priority --</option>
                            <option value="P1">High</option>
                            <option value="P2">Medium</option>
                            <option value="P3">Low</option>
                        </select>
                        <span class="ie-input-error"
                              ng-show="case.priority.$error.required && !case.priority.$pristine">
                            The priority is required
                        </span>
                    </div>


                    <div class="ie-create-case-input">
                        <span class="ie-input-error"
                              ng-show="case.description.$error.minlength && !case.description.$pristine">
                            Please be more descriptive
                        </span>
                        <span class="ie-input-error"
                              ng-show="case.description.$error.required && !case.description.$pristine">
                            Please describe your case
                        </span>

                        <textarea name="description" ng-model="casesCtrl.caseForm.description"
                                  placeholder="Description:" ng-minlength="40" maxlength="300"
                                  class="form-control" required>
                        </textarea>
                    </div>


                    <div class="ie-create-case-input">
                        <button ng-disabled="casesCtrl.isCreatingCase || case.$invalid" type="submit" class="form-control">
                            SAVE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="case-parent" class="ie-page-content">
        <div class="ie-page-upper">
            <div class="ie-account-brief">
                <div class="ie-account-name">My Complaints</div>
                <div class="ie-account-no"><span>Act/No: </span>{{casesCtrl.name}}</div>
            </div>
            <div ng-click="casesCtrl.silentReload($event)" id="ang-special" style="display: none"></div>
            <div class="ie-upper-right">
                <img src="{{casesCtrl.userImage}}" class="ie-account-owner-profile" style="object-fit:cover"/>
            </div>
        </div>

        <div id="ie-case-major" class="ie-page-major">
            <div class="ie-page-table-header">
                <div class="ie-page-table-header-right">
                    <button ng-click="casesCtrl.triggerCreateMode()" class="ie-edit-profile">LOG COMPLAINTS</button>
                </div>
            </div>

            <table class="ie-case-table">
                <thead>
                <tr>
                    <th>Case No</th>
                    <th>Subject</th>
                    <th>Major Category</th>
                    <th>Sub-Category</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Date Created</th>
                </tr>
                </thead>
                <tbody>
                <!--data table handles the data-->
                </tbody>
            </table>

        </div>
    </div><!--End of page content-->

    <div class="ie-page-content-sub ie-page-content" style="">
        <div class="ie-page-upper">
            <div class="ie-account-brief">
                <div class="ie-account-name">Case <span id="d-case-no">#145</span></div>
                <div class="ie-account-no"><span class="ie-detailed-case-status">open</span></div>
            </div>

            <div class="ie-upper-right">
                <div class="ie-sub-action ie-refresh-icon" style="">
                    <img data-toggle="tooltip" title="refresh data"  src="../public/assets/images/ie_refresh_icon.png"/>
                </div>
                <div class="ie-sub-action ie-down-arrow" style="">
                    <img data-toggle="tooltip" title="slide down"  src="../public/assets/images/down_arrow.png"/>
                </div>
            </div>
        </div>

        <div class="ie-page-major">
            <div style="padding-left: 0" class="col-md-12">
                <div class="ie-case-detail-content col-md-6">
                    <div class="ie-case-detailed-cont-bg">
                        <div class="ie-case-detailed-subject">Request for Dsiconnection on Prepaid</div>
                        <div class="ie-case-sub-content">
                            <div class="ie-case-detail-row">
                                <div>
                                    <span class="ie-case-detail-type">Major Category : </span>
                                    <span id="ie-maj-cat-val"></span>
                                </div>
                                <div>
                                    <span class="ie-case-detail-type">Sub Category : </span>
                                    <span id="ie-sub-cat-val"></span>
                                </div>
                                <div>
                                    <span class="ie-case-detail-type">Priority : </span>
                                    <span id="ie-priority-val"></span>
                                </div>
                            </div>

                            <div class="ie-case-detail-row">
                                <div>
                                    <span class="ie-case-detail-type">Description</span>
                                    <div class="ie-case-detailed-desc"></div>
                                </div>

                                <div>
                                    <span class="ie-case-detail-type">Resolution Status</span>
                                    <div class="ie-case-detailed-resolution"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ie-case-detail-content ie-case-notes-cont col-md-6">
                    <div class="ie-case-detailed-cont-bg">
                        <div class="ie-case-note-header">Notes
                            <span ng-show="casesCtrl.isLoadingNotes" class="ie-loading-notes">
                                <img height="45"
                                     width="45" src="../public/assets/images/requesting_icon.gif"/>
                            </span>
                        </div>
                        <div class="ie-case-note-content ie-case-sub-content">
                            <div ng-show="casesCtrl.notes.length==0 && !casesCtrl.isLoadingNotes">No Notes</div>
                            <ul>
                                <li ng-repeat="note in casesCtrl.notes">
                                    <div class="ie-note-item-subject">{{note.name}}
                                        <span ng-if="note.filename.length>0" class="ie-attachment_cont" style="float: right">
                                            <img height="18" width="18" src="../public/assets/images/attachment_icon.png">
                                            <span class="ie-attachment-menu">
                                                <a download="" href="{{note.note_download}}" target="_self">Download</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="ie-note-item-note">{{note.description}}</div>
                                    <div class="ie-note-item-extras">
                                        <div>
                                            <span class="ie-note-by-who">By ...</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ie-add-notes-params">
                            <form name="note" ng-submit="casesCtrl.createNote()">
                                <!--<label for="ie-case-note-subject"></label>-->
                                <div>
                                    <input placeholder="Subject:" id="ie-case-note-subject" required
                                            class="form-control" type="text" maxlength="20"
                                           ng-disabled="casesCtrl.isCreatingNote" ng-model="casesCtrl.noteForm.name"/>
                                </div>
                                <!--<label for="ie-case-note"></label>-->
                                <div>
                                    <textarea placeholder="Note" ng-minlength="10" maxlength="160"
                                              class="form-control" required ng-disabled="casesCtrl.isCreatingNote"
                                               id="ie-case-note" ng-model="casesCtrl.noteForm.description"></textarea>
                                </div>
                                <div class="ie-add-notes-action">
                                    <div class="left">
                                        <div>
                                            <img id="ie-file-trigger" width="20" height="20" title="attach a file"
                                                 ng-disabled="casesCtrl.isCreatingNote"
                                                 src="../public/assets/images/add_attachment.png"/>
                                            <span class="ie-file-name">{{casesCtrl.noteForm.filename}}</span>
                                            <input id="ie-file-attach" type="file" ng-disabled="casesCtrl.isCreatingNote"
                                                   name="ie-file-attach"
                                                   ng-model="casesCtrl.noteForm.file"
                                                   alt="attach file"/>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div>
                                            <button class="ie-send-note-btn"
                                                    ng-disabled="note.$invalid || casesCtrl.isCreatingNote"
                                                    type="submit">
                                                send
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
