<section id="faqs" class="ie-page" style="left: 2732px;">
    <div class="ie-page-content">
        <div class="ie-page-upper">
            <div class="ie-account-brief">
                <div class="ie-account-name">Frequently Asked Questions</div>
                <div class="ie-account-no">glossary/terms</div>
            </div>

            <div class="ie-upper-right">
                <!--<img src="{{faqCtrl.userImage}}" class="ie-account-owner-profile" style="object-fit:cover"/>-->
            </div>
        </div>

        <div class="ie-page-major">
            <div class="ie-faq-cont col-md-12">
                <div class="ie-faq-child col-md-6">
                    <div class="ie-faq-child-sibling">
                        <div class="ie-faq-child-sib-header">General Questions</div>
                        <div class="ie-faq-child-sib-content">
                            <ul>
                                <li class="ie-faq-question">
                                    <div class="ie-q-number">1</div>
                                    How is my electricity bill calculated without a meter?
                                    <ul>
                                        <li>
                                            Scientific approach is used in doing this. Whatever consumption recorded at
                                            the meter connected to the Feeder that supplies light to you is shared
                                            amongst all those that are connected to this feeder.
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">2</div>
                                    I am yet to receive my bills. What do I do?
                                    <ul>
                                        <li>
                                            Kindly contact Ikeja Electric call center or send a mail to 
                                            customercare@ikejaelectric.com with your account no and billing address
                                            to make this complaint. However, amount due can be given to you through
                                            these channels.
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">3</div>
                                    Will I have to pay a fee to get an account and a bill for my house from Ikeja Electric?
                                    <ul>
                                        <li>
                                            No, you don’t have to pay a fee. Once you complete the forms, our staffs
                                            will come to your house to connect you to our network.
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">4</div>
                                    How is my electricity bill calculated without a meter?
                                    <ul>
                                        <li>
                                            Scientific approach is used in doing this. Whatever consumption recorded at
                                            the meter connected to the Feeder that supplies light to you is shared
                                            amongst all those that are connected to this feeder.
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">5</div>
                                    I am a customer, where and how do I pay my bills?
                                    <ul>
                                        <li>
                                            <div class="ie-q-number">1</div>
                                            <b>Payment via Bank Branch:</b>
                                            <ul style="list-style-type: disc">
                                                <li>
                                                    Visit any branch of the banks listed on the attached table and
                                                    request to pay your Ikeja Electric bills via the NIBSS eBillsPay
                                                    platform.
                                                </li>
                                                <li>
                                                    Customers must have their Ikeja Electric account details as shown
                                                    on their bill available.
                                                </li>
                                                <li>
                                                    Obtain a copy of your receipt upon payment
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <div class="ie-q-number">2</div>
                                            <b>Payment via Internet Banking:</b><br/>
                                            <ul>
                                                For customer with internet banking facilities with any of the banks
                                                listed on the table below, you can also pay your Ikeja Electric bills
                                                via the following steps;
                                            </ul>
                                            <ul style="list-style-type: disc">
                                                <li>
                                                    Log on to your bank’s internet banking Platform
                                                </li>
                                                <li>
                                                    Select NIBSS e-Bills (or eBillsPay or eBills Payment) in the
                                                    bill payment section
                                                </li>
                                                <li>
                                                    Select Power – Ikeja Electric
                                                </li>
                                                <li>
                                                    Enter requested details
                                                </li>
                                                <li>
                                                    Confirm customer details returned
                                                </li>
                                                <li>
                                                    Make payment
                                                </li>
                                                <li>
                                                    Receive payment conformation message and print/email receipt
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <div class="ie-q-number">3</div>
                                            <b>Payment via Ikeja Electric Web portal (using credit or debit card):
                                                For Postpaid Customers Only</b>
                                            <ul style="list-style-type: disc">
                                                <li>
                                                    Go to the payment portal on Ikeja Electric’s webpage http://ie-payments.com
                                                </li>
                                                <li>
                                                    Enter requested details
                                                </li>
                                                <li>
                                                    Submit transaction
                                                </li>
                                                <li>
                                                    Confirm customer Accounts details returned
                                                </li>
                                                <li>
                                                    Make payment
                                                </li>
                                                <li>
                                                    Receive payment confirmation message and print/ email receipt
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">6</div>
                                    Why does my bill increase every month?
                                    <ul>
                                        <li>
                                            Bills are calculated based on energy consumed for the
                                            month plus statutory fixed charge.
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ie-faq-child col-md-6">
                    <div class="ie-faq-child-sibling">
                        <div class="ie-faq-child-sib-header">Content Meaning</div>
                        <div class="ie-faq-child-sib-content">
                            <ul>
                                <li class="ie-faq-question">
                                    <div class="ie-q-number">1</div>
                                    What is PPM?
                                    <ul>
                                        <li>
                                            PPM is p p p
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">2</div>
                                    What does AMI mean?
                                    <ul>
                                        <li>
                                            AMI is the .....
                                        </li>
                                    </ul>
                                </li>

                                <li class="ie-faq-question">
                                    <div class="ie-q-number">3</div>
                                    What are Notes?
                                    <ul>
                                        <li>
                                            Call the call center to retrieve your password.
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>