<section ng-controller="ProfileController as pCtrl" id="profile" class="ie-page" style="left: 4098px;">
    <div ng-if="!pCtrl.resume" class="ie-initialize-view">
        <div>{{pCtrl.pauseReason}}</div>
        <div class="ie-please-wait">Please wait</div>
    </div>
    <div class="ie-page-content" ng-if="pCtrl.resume">
        <div class="ie-page-upper">
            <div class="ie-account-brief">
                <div class="ie-account-name">
                    {{pCtrl.userForm.cstm_lastname_c}} {{pCtrl.userForm.cstm_firstname_c}}
                </div>
                <div class="ie-account-no"><span>Act/No: </span>{{pCtrl.accountNumber}}</div>
            </div>

            <div class="ie-upper-right">
                <img src='{{pCtrl.userImage}}' class="ie-account-owner-profile" style="object-fit:cover"/>
            </div>
        </div>
        <div class="ie-page-major">
            <div class="ie-page-table-header">
                <div class="ie-page-table-header-right">
                    <button ng-click="pCtrl.toggleProfileEdit(profile)"
                            ng-disabled="pCtrl.editMode && profile.$invalid"
                            ng-class="{ieEditProfile : !pCtrl.editMode, ieSaveProfile:pCtrl.editMode}">
                        {{pCtrl.actionLabel}}
                    </button>
                </div>
            </div>
            <form name="profile" ng-submit="pCtrl.onSave(profile)" novalidate>
                <div class="col-md-12 ie-profile-form-cont">
                    <div id="ie-account-personal" class="ie-account-portlet col-md-4">

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.cstm_lastname_c" ng-readonly="!pCtrl.editMode"
                                   id="last_name" name="lastName" placeholder="Last name" maxlength="15"
                                   class="form-control" ng-minlength="2" required/>
                            <label for="last_name">last name</label>
                            <span class="ie-input-error"
                                  ng-show="profile.lastName.$error.required && !profile.lastName.$pristine">
                                The last name is required
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.lastName.$error.minlength && !profile.lastName.$pristine">
                                The last name is too short
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.cstm_firstname_c" ng-readonly="!pCtrl.editMode"
                                   id="first_name" name="firstName" maxlength="30"
                                   placeholder="First name" class="form-control" ng-minlength="2" required/>
                            <label for="first_name">first name</label>
                            <span class="ie-input-error"
                                  ng-show="profile.firstName.$error.required && !profile.firstName.$pristine">
                                The first name is required
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.firstName.$error.maxlength && !profile.firstName.$pristine">
                                The first name is too long
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.firstName.$error.minlength && !profile.firstName.$pristine">
                                The first name is too short
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.other_name"  ng-readonly="!pCtrl.editMode"
                                   id="other_name" placeholder="Other name" name="other_name"
                                   class="form-control" maxlength="20" >
                            <label for="other_name">other name</label>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="email" ng-model="pCtrl.userForm.email1"
                                   id="email"  ng-readonly="!pCtrl.editMode" name="email"
                                   placeholder="paulex@mymail.com" class="form-control" ng-minlength="5" required>
                            <label for="other_name">e-mail address</label>
                            <span class="ie-input-error"
                                  ng-show="profile.email.$invalid && !profile.email.$pristine">
                                Enter a valid e-mail address
                            </span>
                        </div>

                    </div>

                    <div id="ie-account-contact" class="ie-account-portlet col-md-4">

                        <div class="ie-form-component col-md-10">
                            <input type="text"  ng-model="pCtrl.userForm.phone_alternate"
                                   ng-readonly="!pCtrl.editMode" id="mobile_phone"
                                   name="mobilePhone" placeholder="Mobile Phone"
                                   class="form-control" maxlength="15" ng-minlength="11"  required>
                            <label for="mobile_phone">mobile phone</label>
                            <span class="ie-input-error"
                                  ng-show="profile.mobilePhone.$error.required && !profile.mobilePhone.$pristine">
                                Your mobile phone is required
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.mobilePhone.$error.minlength && !profile.mobilePhone.$pristine">
                                Insert a valid phone number (08130000000)
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.mobilePhone.$error.maxlength && !profile.mobilePhone.$pristine">
                                Insert a valid phone number (08130000000)
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="tel" ng-model="pCtrl.userForm.phone_office"
                                   ng-readonly="!pCtrl.editMode" id="office_phone" placeholder="Office Phone"
                                   class="form-control" name="officePhone" maxlength="15" ng-minlength="11">
                            <label for="office_phone">office phone</label>
                            <span class="ie-input-error"
                                  ng-show="profile.officePhone.$invalid && !profile.officePhone.$pristine">
                                Enter a valid phone number
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.officePhone.$error.minlength && !profile.officePhone.$pristine">
                                Insert a valid phone number (08130000000)
                            </span>
                            <span class="ie-input-error"
                                  ng-show="profile.officePhone.$error.maxlength && !profile.officePhone.$pristine">
                                Insert a valid phone number (08130000000)
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.billing_address_street"
                                   ng-readonly="!pCtrl.editMode" id="svc_street" placeholder="Service Street"
                                   name="streetAddress" class="form-control" required/>
                            <label for="svc_street">street</label>
                            <span class="ie-input-error"
                                  ng-show="profile.streetAddress.$invalid && !profile.streetAddress.$pristine">
                                Your street address is required
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.billing_address_city"
                                   ng-readonly="!pCtrl.editMode" id="svc_city" name="cityAddress"
                                   placeholder="Service City" class="form-control" required/>
                            <label for="svc_city">city</label>
                            <span class="ie-input-error"
                                  ng-show="profile.cityAddress.$invalid && !profile.cityAddress.$pristine">
                                Your city address is required
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.userForm.billing_address_state"
                                   id="svc_state" name="stateAddress"
                                   placeholder="Service State" class="form-control" required/>
                            <label for="svc_state">state</label>
                            <span class="ie-input-error"
                                  ng-show="profile.stateAddress.$invalid && !profile.stateAddress.$pristine">
                                Your state address is required
                            </span>
                        </div>

                    </div>

                    <div id="ie-account-power" class="ie-account-portlet col-md-4">

                        <div class="ie-form-component col-md-10">
                            <input type="text" ng-model="pCtrl.accountNumber" readonly
                                   id="acct_no" name="accountNumber"
                                   placeholder="Account Number" class="form-control" required/>
                            <label for="acct_no">account number</label>
                            <span class="ie-input-error"
                                  ng-show="profile.accountNumber.$invalid && !profile.accountNumber.$pristine">
                                Your account number must never be empty
                            </span>
                        </div>

                        <div class="ie-form-component col-md-10">
                            <select id="customer_type" style="" class="">
                                <option>Prepaid Customer</option>
                                <option>Post-Paid Customer</option>
                                <option>MD Customer</option>
                            </select>
                            <label for="customer_type">customer type</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>